<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
  <div class="ui container">
    <a class="active item">Home</a>
    <a class="item">Work</a>
    <a class="item">Company</a>
    <a class="item">Careers</a>
    <div class="right menu">
      <div class="item">
        <a class="ui inverted green button">Log in</a>
      </div>
      <div class="item">
        <a class="ui inverted red button">Sign Up</a>
      </div>
    </div>
  </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
  <a class="active item">Home</a>
  <a class="item">Work</a>
  <a class="item">Company</a>
  <a class="item">Careers</a>
  <a class="item">Login</a>
  <a class="item">Signup</a>
</div>

<!-- Page Contents -->
<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">

    <div class="ui-container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <a class="active item">Home</a>
        <a class="item">Work</a>
        <a class="item">Company</a>
        <a class="item">Careers</a>
        <div class="right item">
          <a class="ui green basic button">Log in</a>
          <a class="ui teal basic button">Sign Up</a>
        </div>
      </div>
    </div>

    <header class="header content">
      <div class="header-video">
        <video src="./app/assets/video/690423925.mp4" autoplay loop></video>
      </div>
      <div class="header-overlay"></div>
      <div class="header-content">
        <h1>{{name}}</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, asperiores.</p>
        <a href="http://faztweb.com" class="btn">Go to FaztWeb</a>
      </div>
    </header>
  </div>
  